body {
    /* background-image: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/kuji.png"); */
    position: relative;
    padding: 0;
    margin: 0;
}
/*-------prisoner boundaries styling*/
#forbidden {
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
}
#forbidden h1 {
    font-size: 6vw;
    color: red;
    margin: 0;
    max-width: 10em;
    background: black;
}
#forbidden p {
    position: absolute;
    background-color: white;
    right: 1em;
    height: 1.1em;
    width: 2em;
    border-radius: .4em;
    border: 1px solid red;
    top: 0;
    font-size: 2em;
    cursor: pointer;
}
#forbidden-container {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: "Press Start 2P";
    background: url(eye.png);
    background-size: 12%;
}
/*-------timer styling*/
#timer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    background-color: red;
    border-bottom: .3em solid black;
    font-family: "Press Start 2P";
    z-index: 2;
}
#timer p {
    font-size: 2em;
    display: inline-block;
    margin: 0;
    padding-left: 1em;
}
#timer button {
    font-size: 2em;
    font-family: "Press Start 2P";
    margin-left: 1em;
}
/*-------modal styling*/
.modal-grouper {
    width: 100%;
    height: 100%;
    background-color: #000000;
    position: fixed;
    top: 0;
    z-index: 2;
}
.modal-window {
    width: 80%;
    max-width: 30em;
    height: 75vh;
    border-radius: .3em;
    margin: 0 auto;
    margin-top: 2em;
    text-align: center;
    padding: 1em;
    border-top: 1px white;
}
.modal-window h2 {
    font-family: "Press Start 2P";
    color: white;
}
.modal-window p {
    color: red;
    margin-top: 3em;
    font-family: 'Courier Prime', monospace;
}
#close-modal {
    border: 1px solid #2b1a1a;
    width: 29%;
    height: 16%;
    font-size: 1.2em;
    color: white;
    background-color: black;
    margin-top: 1.4em;
}
#app-container {
    max-width: 47em;
    background-color: white;
    /* border: 3px solid purple; */
    margin: 0 auto;
    margin-top: 6em;
    margin-bottom: 3em;
    display: flex;
    justify-content: center;
}
#nav-container {
    /* border: 2px solid green; */
    /* width: 5em; */
    text-align: center;
}
#content-container {
    width: 90%;
    height: 25.5em;
    background-color: #d8d3d3;
    overflow: scroll;
    position: relative;
}
#content-flash {
    height: 100%;
    display: none;
    background-color: #ff5858;
}
#app-label {
    background-color: #000000;
    /* padding: .2em; */
    border-top-left-radius: .2em;
    /* border-top-right-radius: .2em; */
    color: white;
    width: 7em;
    position: relative;
    left: 0;
    top: -1.5em;
    padding-right: .8em;
    font-family: "Press Start 2P";
}
.nav-icon {
    color: gray;
    margin-bottom: 0.07em;
    font-size: 4em;
    cursor: pointer;
}
.nav-icon.active {
    color: #505b73;
}

.container.chaticon {
    display: flex;
    flex-direction: column;
}
.container.notesicon {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}
.linksicon {
    display: none;
}
.contactsicon {
    background-color: blue;
}
#lock-div, #notes-lock-div {
    display: flex;
    flex-direction: column;
    border: 2px solid #ff000061;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    height: 61%;
    justify-content: center;
    margin-top: 3em;
    font-family: "Press Start 2P";
    padding: 2em;
    box-sizing: border-box;
}
#lock-input, #notes-lock-input {
    margin-top: 2em;
    font-family: "Press Start 2P";
}
#lock-button, #notes-lock-button {
    border: 1px solid red;
    margin-top: .3em;
    font-family: "Press Start 2P";
}
#chat-tabs-container {
    display: flex;
    position: relative;
    /* border: 1px solid blue; */
}
#chat-tabs-container #claire::before {
    content: "⬤";
    color: green;
    display: absolute;
}
.tab {
    border: 2px solid gray;
    background-color: #e2e2e2;
    padding: 0.5em;
    border-top-right-radius: .4rem;
    border-top-left-radius: .4rem;
    cursor: pointer;
    font-family: "Press Start 2P";
    font-size: .8em;
}
.tab.active {
    border: 2px solid white;
    background-color: #f7f2f3;
}
.chat-messages {
    /* border: 2px solid #5e615e; */
    background-color: #edf6f7;
    border-bottom-right-radius: 1em;
    height: 19em;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.them-bubble {
    position: relative;
    padding-left: 1em;
}
.my-bubble {
    position: relative;
    text-align: right;
    padding-right: 1em;
}
.message {
    border-radius: 8px;
    color: #8a152c;
    padding: .04em;
    max-width: 24em;
    font-size: 0.8em;
    padding: .6em;
    margin: .15em;
    display: inline-block;
    background-color: #a0819140;
    text-shadow: 0em 0em 0.2em #efbbcf;
    font-family: 'Courier Prime', monospace;
}

#msg-read {
    color: #ada9a9;
    display: inline-block;
    position: absolute;
    bottom: -1.9em;
    font-size: .8em;
    font-family: sans-serif;
    font-style: italic;
    right: 1.3em;
}
#chat-input {
    /* border: 1px solid; */
    height: 4em;
    display: flex;
}
#chat-text-input {
    padding-left: .2em;
    width: 100%;
    font-size: 1.2em;
}
#chat-send {
    width: 9em;
    /* border-radius: 0.5em; */
    background-color: gray;
    color: #ffffff;
    font-size: 1em;
}
/*-------notes styling*/
.notes-ui {
    display: none;
}
#notes-nav, #links-nav {
    background-color: #eff7ac;
    border: 1px solid gray;
    cursor: pointer;
    height: 4em;
    width: 4em;
    text-overflow: clip;
    text-align: center;
    position: absolute;
    right: 0;
    font-family: "Press Start 2P";
    font-size: .7em;
    margin: .5em;
    border-top-right-radius: 1.2em;
    border-top-left-radius: 1.2em;
    border-bottom-right-radius: 1.2em;
}
#new-note {
    display: inline-block;
    position: relative;
}
.notes-grouper {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 10em;
    border-radius: .3em;
    border: 1px solid #7d7d7d;
    background: #efefef;
    margin: .4em;
    box-sizing: border-box;
    padding: .2em .2em .1em .6em;
    text-shadow: 0em 0em 0.2em #c1b8b8;
}
.note-card {
    width: 10em;
}
.note-title {
    background-color: white;
    margin: .2em;
}
/*-------links styling*/
.container.linksicon {
    display: none;
    position: relative;
}
#new-link {
    display: inline-block;
    position: relative;
}
.link-card {
    width: 30em;
    background: white;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    position: relative;
    margin: 1em;
    cursor: pointer;
}
.link-title {
    border: 1px;
    margin: 0;
    padding: 0.4em;
    padding-left: .5em;
    font-family: "Press Start 2P";
    color: #a2ca9c;
}
.link-text {
    border: 1px;
    margin: 0;
    padding: 1.3em;
    font-family: 'Courier Prime', monospace;
}
.link-del {
    background-color: #8e7e7e;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    position: absolute;
    right: -4.6em;
    top: 0;
    bottom: 0;
    font-family: "Press Start 2P";
    color: #eff7ac;
    cursor: pointer;
}
.link-editor-grouper {
    display: none;
    position: fixed;
    top: 2.6em;
    left: 0;
    right: 0;
    width: 66%;
    height: 90%;
    margin: 0 auto;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    background-color: white;
    border: 1px solid gray;
    border-radius: .3em;
    z-index: 1;
}
.link-editor-grouper-close {
    position: absolute;
    right: 0;
    border: 1px solid white;
    font-size: 1.2em;
    padding-right: .3em;
    padding-top: .1em;
}
.link-editor-container {
    border: 1px solid gray;
    border-radius: .9em;
    height: 90%;
    padding: .02em;
    margin: 2em;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link-editor-input {
    width: 80%;
    height: 10%;
    font-size: 1.3em;
    color: gray;
}
.link-editor-container h2 {
    padding: .2em;
    font-family: "Press Start 2P";
    font-size: .96em;
    color: #3fb5a0;
    margin-right: 30.2em;
    display: inline-block;
    width: 25%;
}
.link-editor-save-btn {
    border: 1px solid gray;
    background-color: #e5e8b4;
    border-radius: .5em;
    font-family: "Press Start 2P";
    width: 30%;
    height: 3em;
    margin-top: 2em;
}
.link-head {
    color: black;
    font-family: "Press Start 2P";
    font-size: 1.4em;
}
.link-anchor {
    text-decoration: none;
}
#read-receipt {
    font-size: .8em;
    font-style: italic;
    position: absolute;
    right: 2em;
}